.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.container h1{
    font-size: 50px;
}
.container h2{
    font-size: 40px;
}
.Imagen{
    width: 18%;
    border-radius: 50%;
}
.Imagen img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 50%;
}