.header {
    height: 75px;
    padding: 0 80px;
    background: #D2775B;
    box-shadow: 0 4px 4px #0004;
    display: flex;
    align-items: center;
    gap: 60px;
    position: relative;
}
.UL{
    color: white;
    text-decoration-line: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.apertura{
    width: 30%;
    height: auto;
    background-color: white;
    display: block;
    right: 20px;
    position: absolute;
    top: 100px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: #8AC389;
    min-height: 20vh;
    z-index: 99999;
}
.apertura p{
  text-align: center;
}
.aperturaCerrar{
    display: none;
}
.apertura ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.container{
    width: 100%;
    height: auto;
}
.ContainerDatos{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}
.ContainerDatos h1{
  font-size: 20px;
}
.Imagen{
  width: 25%;
  /* height: 20%; */
  border-radius: 20px 20px 20px 20px;
}
.Imagen img{
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 20px;
}
.Imagen p{
    color: black;
}
.tachado{
    text-decoration: line-through;
}
.nice{
    color: black;
}

.button2 {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
  }
  
  .button2:hover {
    background: #F6F9FE;
    color: #174ea6;
  }
  
  .button2:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
  }
  
  .button2:focus {
    outline: none;
    border: 2px solid #4285f4;
  }
  
  .button2:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .button2:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }
  
  .button2:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .button2:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
  }
  
  .button-17:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  .buttonVaciar{
    width: 100%;
    color: white;
    border-radius: 0px 0px 20px 20px;
    padding: 20px;
    background-color: black;
    cursor: pointer;
    font-size: 18px;
  }
  .error{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
  }